<% include ./partials/header %>

<div class="ui main text container segment">
    
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    
    <div class="ui top attached">
        
        <div class="item">
            <img class="ui small centered image" src="<%= blog.image %>">
            <div class="content">
                <span><%=blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%= blog.body %></p>
            </div>
        </div>
        
        <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit" >Edit</a>
        
        <form id="delete" class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" onclick="return confirm('Do you want to delete the blog post?');return false;">
            <button class="ui red basic  button">Delete</button>
        </form>
        
        <div class="item">
            <a href="/blogs">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>